---
title: Atomizer Application Settings | Red Ventures
topbar: true
---
<header role="header" class="page-header page-header--tabs">
  <h2 class="page-header__title">General Application Settings</h2>
  <div class="tabs tabs--dark">
    <ul class="tab__list">
      <li class="tab__item is-active" data-tab="tab-1">Manage Businesses</li>
      <li class="tab__item" data-tab="tab-2">Decry Configurations</li>
      <li class="tab__item" data-tab="tab-3">Manage Tags</li>
    </ul>
  </div>
</header>
<!-- Manage Business -->
<%= partial 'settings/partials/_settings-businesses' %>
<!-- Manage Decry Configurations -->
<%= partial 'settings/partials/_settings-config' %>
<!-- Manage Tags -->
<%= partial 'settings/partials/_settings-tags' %>