---
title: Atomizer | Red Ventures
topbar: false
page_class: auth-page
---
<section role="region" aria-label="user-authentication" class="auth-page__container">
  <div class="card card--shadow auth-page__form-container">
    <header role="banner" class="auth-page__form-header">
      <%= inline_svg("logos/logo.svg", class: 'logo') %>
      <h4>Can't remember your password?</h4>
    </header>
    <form name="authSignIn" class="auth-page__form-body">
      <fieldset>
        <label>Email Address</label>
        <input type="email" name="authFormEmailAddress" placeholder="Enter your email address" />
      </fieldset>
      <fieldset>
        <input type="submit" value="Send Reset Instructions" name="authFormEmailSubmit" class="button--alpha button--full" />
      </fieldset>
    </form>
    <div class="text--center margin-top--delta">
      <%= link_to "Remember your password?", "#{config[:root_url] ? config[:root_url] : '/'}", class: 'link--bravo' %>
    </div>
  </div>
</section>