---
title: Atomizer Dashboard | Red Ventures
topbar: true
---
<header role="header" class="page-header page-header--tabs">
  <h2 class="page-header__title">HughesNet</h2>
  <div class="tabs tabs--dark">
    <ul class="tab__list">
      <li class="tab__item is-active" data-tab="tab-1">All Scenarios</li>
      <li class="tab__item" data-tab="tab-2">A/B Test Overview</li>
    </ul>
  </div>
  <div class="page-header__right">
    <button class="button--alpha modal__trigger" data-modal="createScenario">Create Scenario</button>
  </div>
</header>
<%= partial 'dashboard/partials/_dashboard-scenarios-tab' %>
<%= partial 'dashboard/partials/_dashboard-tests-tab' %>
<%= partial 'dashboard/partials/_dashboard-scenario-create-modal' %>