<div class="page-sidebar__content page-sidebar__content--border">
  <h6 class="form__label">Manage Groups</h6>
  <ul>
    <li>Group Title <a href="#" class="link--charlie float--right">Remove</a></li>
    <li>Group Title <a href="#" class="link--charlie float--right">Remove</a></li>
    <li>Group Title <a href="#" class="link--charlie float--right">Remove</a></li>
    <li>Group Title <a href="#" class="link--charlie float--right">Remove</a></li>
  </ul>
</div>
<div class="page-sidebar__content">
  <form>
    <fieldset>
      <label class="form__label">Add New Group</label>
      <input type="text" placeholder="Enter group name" />
    </fieldset>
    <input type="submit" value="Add New Group" class="button--disabled button--full" />
  </form>
</div>
