<div class="modal" aria-hidden="true" data-modal="deleteConfig<%= i %>">
  <div class="modal__overlay">
    <div class="modal__container">
      <div class="modal__body">
        <a href="#" role="button" class="modal__close">
          <%= inline_svg("icons/close-icon.svg", class: "modal__close-icon") %>
        </a>
        <header class="modal__header">
          <h3 class="title">Are you sure about this move?</h3>
          <p class="modal-intro">You are about to perform an action that cannot be undone. Please enter the decry configuration title to confirm you want to delete it.</p>
        </header>
        <div class="modal__body-content">
          <label class="form__label">Enter Title</label>
          <input type="text" placeholder="Term Title Sample" />
          <div class="modal__actions">
            <ul class="modal__actions-list">
              <li class="modal__actions-item">
                <a href="#" class="link--delta">Cancel</a>
              </li>
              <li class="modal__actions-item">
                <button class="button--charlie">Delete Configuration</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>