// Card Component
// ========================================


// Variables
$card-background:               $white-base;
$card-border:                   1px solid $grey-light;
$card-display:                  block;
$card-margin:                   0 0 $spacer-charlie;
$card-overflow:                 hidden;
$card-padding:                  $spacer-charlie;
$card-position:                 relative;
$card-radius:                   1px;

$card-margin-small:             0 0 $spacer-delta;
$card-padding-small:            $spacer-delta;

$card-margin-extra-small:       0 0 $spacer-echo;
$card-padding-extra-small:      10px $spacer-delta;

$card-draggable-shadow:         rgba(48, 54, 67, 0.1);
$card-draggable-spread:         0 0 10px;
$card-draggable-transition:     all 0.5s ease;

$card-title-margin:             $spacer-delta;
$card-title-padding:            $spacer-delta;

$card-title-link-color:         $blue-base;

$card-favorite-icon-cords:      35px 30px null null;
$card-favorite-icon-fill:       $yellow-base;
$card-favorite-icon-position:   absolute;
$card-favorite-icon-size:       15px;

$card-icon-cords:               15px -15px null null;
$card-icon-display:             inline-block;
$card-icon-position:            absolute;
$card-icon-size:                80px;


// Structure
.card {
  @include position($card-position);
  background: $card-background;
  border: $card-border;
  border-radius: $card-radius;
  display: $card-display;
  margin: $card-margin;
  padding: $card-padding;
}

// Card Styles
.card--small {
  margin: $card-margin-small;
  padding: $card-padding-small;
}

.card--extra-small {
  margin: $card-margin-extra-small;
  padding: $card-padding-extra-small;
}

.card--overflow {
  overflow: $card-overflow;
}


// Card Modifiers
.card--draggable {
  @include transition($card-draggable-transition);
  cursor: move;

  &:hover {
    @include box-shadow($card-draggable-spread, $card-draggable-shadow);
  }
}

.card--shadow {
  @include box-shadow($card-draggable-spread, $card-draggable-shadow);
}


// Card Text
.card__title {
  @include s-delta;
  border-bottom: $card-border;
  margin-bottom: $card-title-margin;
  padding-bottom: $card-title-padding;
}


// Favorite Icon
.card__favorite-trigger {
  @include position($card-favorite-icon-position, $card-favorite-icon-cords);

  svg {
    width: $card-favorite-icon-size;
  }

  #app-icon {
    fill: $card-favorite-icon-fill;
  }
}


// Card Title Link
  // NOTE: Use when card title is clickable
.card__title-link {
  @include multiline-ellipsis(400px, 60px);
  @include transition(color 0.5s ease);
  @include s-bravo;
  line-height: 1.25;
  margin-bottom: $spacer-echo;

  &:hover {
    color: $card-title-link-color;
  }
}


// Card Corner Icons
// Card Corner Icons
$date-icon:     'icons/date-icon.svg';
$document-icon: 'icons/file-icon.svg';
$user-icon:     'icons/user-icon.svg';

$icons: (
  ('date',      $date-icon),
  ('document',  $document-icon),
  ('user',      $user-icon)
);

@each $icon in $icons {
  $name:   nth($icon, 1);
  $url:    nth($icon, 2);

  .card--#{$name}-icon {
    @include position($card-icon-position, $card-icon-cords);
    background: image-url($url) no-repeat;
    background-size: $card-icon-size;
    display: $card-icon-display;
    height: $card-icon-size;
    width: $card-icon-size;
  }
}