// Form Input Select Component
// ========================================

// Variables
$select-background-position:         100%;
$select-background-url:              'icons/form-select-icon.svg';

$select-background-inactive:         $white-dark;
$select-border-inactive:             1px solid $grey-light;


// Structure
select{
  @include font-type($primary-sans-serif, normal, 400);
  background-image: image-url($select-background-url);
  background-position: $select-background-position;
  background-repeat: no-repeat;

  &:disabled {
    background-color: $select-background-inactive;
    border: $select-border-inactive;
    color: $grey-dark;
    cursor: not-allowed;
  }
}