<figure aria-hidden="true" id="save-alert" class="alert--success toggle-parent">
  <%= inline_svg("icons/notification-icon.svg", class: "alert__icon") %>
  <h5 class="alert__text">High fives! You have successfully updated the module.</h5>
  <a class="alert__trigger" href="#">
    <%= inline_svg("icons/close-icon.svg", class: "alert__icon alert__icon--close toggle-element") %>
    </svg>
  </a>
</figure>