<header role="header" class="page-header">
  <a href="/scenario/index.html" class="page-header__back-link">
    <%= inline_svg("icons/arrow-left-icon.svg") %>
    <span>Back To Modules</span>
  </a>
  <h2 class="page-header__title">2. Red Switch Transfer</h2>
  <div class="page-header__right">
    <button class="button--disabled">Save Updates</button>
  </div>
</header>