<header role="header" class="page-header page-header--tabs">
  <h2 class="page-header__title">SSL Order Process [Production]</h2>
  <div class="tabs tabs--dark">
    <ul class="tab__list">
      <li class="tab__item is-active" data-tab="tab-1">Edit Scenario</li>
      <li class="tab__item" data-tab="tab-2">Scenario Flow</li>
      <li class="tab__item" data-tab="tab-3">A/B Test</li>
      <li class="tab__item" data-tab="tab-4">History</li>
      <li class="tab__item" data-tab="tab-5">Settings</li>
    </ul>
  </div>
  <div class="page-header__right">
    <div class="button--add-on__container toggle-parent">
      <button id="alert-show-trigger" class="button--alpha button--add-on">Save Scenario</button>
      <span class="button--add-on--alpha toggle-element">
        <img src="../images/icons/arrow-select-icon.svg" class="button--add-on__icon">
      </span>
      <ul class="button--alpha button--add-on__dropdown">
        <li class="button--add-on__dropdown-item">
          <a href="#" class="button--add-on__dropdown-link">Preview Scenario</a>
        </li>
        <li class="button--add-on__dropdown-item">
          <a href="#" class="button--add-on__dropdown-link">Publish Scenario</a>
        </li>
        <li class="button--add-on__dropdown-item">
          <a href="#" class="button--add-on__dropdown-link">Archive Scenario</a>
        </li>
      </ul>
    </div>
  </div>
</header>