<!-- Edit Scenario Partial - Active by default -->
<section role="region" aria-label="Edit Scenario" id="tab-3" class="page-section page-section--header-offset tab__content">
  <div class="page-main page-main--full">
    <header role="banner" class="page-main__header">
      <h2 class="title">Active Tests</h2>
      <div class="page-main__header--right">
        <a href="#" class="button--alpha button--small modal__trigger" data-modal="newTest">New Test</a>
      </div>
    </header>
  </div>
</section>