<section role="region" aria-label="Test Scenario Flow" id="tab-2" class="page-section page-section--header-offset tab__content">
  <aside role="complementary" class="page-sidebar page-sidebar--right">
    <header role="banner" class="page-sidebar__header">
      <h2 class="title">Test Call</h2>
    </header>
    <div class="page-sidebar__body">
      <div class="page-sidebar__content page-sidebar__content--border">
        <label class="form__label">Enter Call log Id</label>
        <div class="button--add-on__container button--add-on__container--full">
          <input type="text" placeholder="Enter call ID" class="input--add-on margin-reset--bottom" />
          <button id="show-test-details" class="input--add-on__button button--alpha">Test</button>
        </div>
      </div>
      <div class="page-sidebar__content">
        <div class="page-sidebar__group is-active">
          <h6 class="form__label">Call Log Details</h6>
          <p>Please enter a call log ID to test.</p>
        </div>
        <div class="page-sidebar__group">
          <h6 class="form__label">Call Log Details</h6>
          <ul>
            <li>Caller ID<span class="float--right">12456</span></li>
            <li>Call Location<span class="float--right">North Charlotte</span></li>
            <li>Device Type<span class="float--right">Mobile</span></li>
            <li>Call Duration<span class="float--right">3:45</span></li>
            <li>Conversion<span class="float--right">False</span></li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
  <div class="page-main page-main--left">
    <header role="banner" class="page-main__header">
      <div class="page-main__header--left">
        <h2 class="title">Scenario Flow</h2>
      </div>
    </header>
    <div class="page-main__content">
      <ul class="list highlight-test">
        <li class="highlight--alpha highlight__text--lead">IF CONTROL SCENARIO SERVERED</li>
        <li class="highlight--bravo">
          <div class="highlight__card">
            <h4 id="show-test-details" class="highlight__card-title">1. Atom Hailo</h4>
            <p class="highlight__card-action">Version: 1.3.5</p>
          </div>
        </li>
        <li class="highlight--alpha highlight__text--lead">Then If</li>
        <li class="highlight--bravo">
          <span>Marketing Program ID <span class="highlight__text--heavy">is one of</span> 1271057, 1273203 <span class="highlight__text--heavy">AND</span> Company equals Hughesnet <span class="highlight__text--heavy">OR</span> Company equals DirectTV </span>
          <div class="highlight__card">
            <h4 class="highlight__card-title">2. Red Switch Transfer</h4>
            <p class="highlight__card-action">Version: 1.0.5</p>
          </div>
        </li>
        <li class="highlight--alpha highlight__text--lead">Else Then</li>
        <li class="highlight--bravo">
          <div class="highlight__card">
            <h4 class="highlight__card-title">3. D* Transfer Intro</h4>
            <p class="highlight__card-action">Version: 1.3.0</p>
          </div>
        </li>
        <li class="highlight--alpha highlight__text--lead">Then</li>
        <li class="highlight--bravo">
          <div class="highlight__card">
            <h4 class="highlight__card-title">4. RB HOV Overflow Intro</h4>
            <p class="highlight__card-action">Version: 0.0.6</p>
          </div>
        </li>
        <li class="highlight--alpha highlight__text--lead">Then</li>
        <li class="highlight--bravo">
          <div class="highlight__card">
            <h4 class="highlight__card-title">5. Default Intro</h4>
            <p class="highlight__card-action">Version: 0.0.6</p>
          </div>
        </li>
        <li class="highlight--alpha highlight__text--lead">Then If</li>
        <li class="highlight--bravo">
          <span>Customer Information <span class="highlight__text--heavy">contains</span> something</span>
          <div class="highlight__card">
            <h4 class="highlight__card-title">6. Customer Collection</h4>
            <p class="highlight__card-action">Version: 1.0.5</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>