<div class="modal" aria-hidden="true" data-modal="editVariation<%= i %>">
  <div class="modal__overlay">
    <div class="modal__container">
      <div class="modal__body">
        <a href="#" role="button" class="modal__close">
          <%= inline_svg("icons/close-icon.svg", class: "modal__close-icon") %>
        </a>
        <header class="modal__header">
          <h3 class="title">Update Variation</h3>
          <p class="modal-intro">By updating the information below, you will update the scenario variation in any place that it is being used.</p>
        </header>
        <div class="modal__body-content">
          <form>
            <fieldset>
              <label class="form__label">Update Scenario Title</label>
              <input type="text" value="<%= v.title %>"class="required-input" />
            </fieldset>
            <fieldset>
              <label class="form__label">Update Scenario Description</label>
              <textarea><%= v.description %></textarea>
            </fieldset>
          </form>
          <div class="modal__actions">
            <ul class="modal__actions-list">
              <li class="modal__actions-item">
                <a href="#" class="link--delta">Cancel</a>
              </li>
              <li class="modal__actions-item">
                <button class="button--alpha">Update Changes</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>