<div class="modal" aria-hidden="true" data-modal="deleteVariation<%= i %>">
  <div class="modal__overlay">
    <div class="modal__container">
      <div class="modal__body">
        <a href="#" role="button" class="modal__close">
          <%= inline_svg("icons/close-icon.svg", class: "modal__close-icon") %>
        </a>
        <header class="modal__header">
          <h3 class="title">Are you sure about this move?</h3>
          <p class="modal-intro">You are about to perform an action that cannot be undone. Please double check the variation listed before continuing.</p>
        </header>
        <div class="modal__body-content">
          <label class="form__label">Selected variation</label>
          <ul>
            <li><%= v.title %></li>
          </ul>
          <div class="modal__actions">
            <ul class="modal__actions-list">
              <li class="modal__actions-item">
                <a href="#" class="link--delta">Cancel</a>
              </li>
              <li class="modal__actions-item">
                <button class="button--charlie">Delete Variation</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>