<aside role="sidebar" class="page-sidebar page-sidebar--small page-sidebar--left">
  <header role="banner" class="page-sidebar__header">
    <h5 class="form__label">Module Activity</h5>
  </header>
  <ul class="page-sidebar__list">
    <%= partial 'scenario/partials/_scenario-activity' %>
  </ul>
</aside>