<div class="modal" aria-hidden="true" data-modal="createVariation">
  <div class="modal__overlay">
    <div class="modal__container">
      <div class="modal__body">
        <a href="#" role="button" class="modal__close">
          <%= inline_svg("icons/close-icon.svg", class: "modal__close-icon") %>
        </a>
        <header class="modal__header">
          <h3 class="title">Create New Variation</h3>
          <p class="modal-intro">Creating a new variation will allow you to add it to a specific split test, rearrange, add or remove modules and change rules independent from the control scenario.</p>
        </header>
        <div class="modal__body-content">
          <form>
            <fieldset>
              <label class="form__label">Select Variation To Clone</label>
              <select>
                <option selected="selected">Control</option>
                <% data.scenario_variations.variation.each do |v| %>
                  <option><%= v.title %></option>
                <% end %>
              </select>
            </fieldset>
            <fieldset>
              <label class="form__label">Variation Title</label>
              <input type="text" placeholder="Add title for scenario variation" />
            </fieldset>
            <fieldset>
              <label class="form__label">Variation Description</label>
              <textarea placeholder="Add description for variation"></textarea>
            </fieldset>
          </form>
          <div class="modal__actions">
            <ul class="modal__actions-list">
              <li class="modal__actions-item">
                <a href="#" class="link--delta">Cancel</a>
              </li>
              <li class="modal__actions-item">
                <button class="button--alpha">Create Variation</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>