<aside role="sidebar" class="page-sidebar page-sidebar--right">
  <div class="page-sidebar__content page-sidebar__content--border">
    <header role="banner" class="page-sidebar__header">
      <h5 class="form__label">Preview Module Rules</h5>
    </header>
    <p class="highlight--alpha highlight__text--lead">if</p>
    <p class="highlight--bravo">Marketing Program ID <b>is one of</b>  1271057, 1273203</p>
    <p class="highlight--alpha highlight__text--lead">and</p>
    <p class="highlight--bravo">
      <span>Company <b>equals</b> Hughesnet</span>
      <span class="highlight--alpha highlight__text--lead highlight--nested">Or</span>
      <span>Company <b>equals</b> DirectTV</span>
    </p>
    <p class="highlight--alpha highlight__text--lead margin-reset--bottom">then module is visible</p>
  </div>
  <div class="page-sidebar__content">
    <header role="banner" class="page-sidebar__header">
      <h5 class="form__label">Test Module Rules</h5>
    </header>
    <div class="button--add-on__container button--add-on__container--full">
      <input type="text" placeholder="Enter call ID" class="input--add-on" />
      <input type="submit" value="Test" class="input--add-on__button button--disabled" />
    </div>
  </div>
</aside>