<div class="page-main page-main--middle">
  <header role="banner" class="page-main__header">
    <h2 class="title">Module Settings</h2>
  </header>
  <div class="tabs">
    <ul class="tab__list">
      <li class="tab__item is-active" data-tab="tab-1">Configurations</li>
      <li class="tab__item" data-tab="tab-2">Edit Rules</li>
      <li class="tab__item" data-tab="tab-3">Preview Module</li>
    </ul>
  </div>
  <div class="margin-top--charlie" id="tab-1">
    <div class="card">
      <div class="tooltip__item">
        <label class="tooltip__label label">Module Title</label>
          <%= inline_svg ('icons/help-icon.svg'), class: 'tooltip__icon' %>
          <figure class="tooltip">
            <p class="tooltip__text">This title will be used to identify the module in the scenario list.</p>
          </figure>
        </div>
      <input type="text" value="Red Switch Transfer" class="margin-reset--bottom" />
    </div>
  </div>
</div>