<!-- Extras Panel Footer -->
<div class="module-extras-panel">
  <div class="module-extras-panel__left">
    <p class="form__label margin--reset"><span class="badge--alpha margin-right--echo checkboxes-badge"></span> Selected Modules</p>
  </div>
  <div class="module-extras-panel__middle">
    <ul class="list">
      <li class="item module-extras-panel__action">
        <a href="#" class="module-extras-panel__link modal__trigger" data-modal="deleteModules"><%= inline_svg("icons/trash-icon.svg") %></a>
      </li>
      <li class="item module-extras-panel__action">
        <a href="#" class="module-extras-panel__link modal__trigger" data-modal="duplicateModules"><%= inline_svg("icons/duplicate-icon.svg") %></a>
      </li>
      <li class="item module-extras-panel__action popout__container">
        <a href="#" class="module-extras-panel__link popout__trigger"><%= inline_svg("icons/arrow-up-down-icon.svg") %></a>
        <%= partial 'scenario/partials/_scenario-edit-move-modules-popout' %>
      </li>
    </ul>
  </div>
  <div class="module-extras-panel__right">
    <p class="text--small text--grey margin--reset"><em>Press <strong>ESC</strong> to unselect all modules</em></p>
  </div>
</div>