---
title: Atomizer Dashboard | Red Ventures
---
<section role="region" class="page-section text--center">
  <div class="padding-top--alpha">
    <%= link_to 'Launch Scenario', "#{config[:root_url] ? config[:root_url] : '/'}scenario/", class: 'button--alpha' %>
  </div>
</section>