// User Authentication Module
// ========================================

// Variables
$auth-background-img:             'misc/atom-icon-lg.svg';
$auth-background-position:        -350px 0;
$auth-background-size:            100vh;

$auth-container-height:           100%;
$auth-container-padding:          0 $spacer-delta;
$auth-container-position:         relative;

$auth-form-container-min-width:   425px;

$auth-form-margin:                0 0 $spacer-charlie;
$auth-form-text-align:            center;

$auth-form-logo-fill:             $purple-base;
$auth-form-logo-margin:           $spacer-delta;

$user-settings-avatar-margin:     0 auto $spacer-delta;
$user-settings-avatar-overflow:   hidden;
$user-settings-avatar-radius:     30em;
$user-settings-avatar-size:       100px;

$user-settings-avatar-img-size:   100%;


// Structure
.auth-page {
  background: image_url($auth-background-img) no-repeat $auth-background-position;
  background-size: $auth-background-size;
}

.auth-page__container {
  @include position($auth-container-position);
  @include outer-container;
  height: $auth-container-height;
  padding: $auth-container-padding;
}

.auth-page__form-container {
  @include center($horizontal: true, $vertical: true);
  min-width: $auth-form-container-min-width;
}

.auth-page__form-header {
  margin: $auth-form-margin;
  text-align: $auth-form-text-align;

  .logo {
    margin-bottom: $auth-form-logo-margin;
  }

  #atomizer-logo {
    fill: $auth-form-logo-fill;
  }
}


// User Settings Avatar
.user-settings__avatar {
  border-radius: $user-settings-avatar-radius;
  height: $user-settings-avatar-size;
  overflow: $user-settings-avatar-overflow;
  margin: $user-settings-avatar-margin;
  width: $user-settings-avatar-size;
}

.user-settings__avatar-img {
  width: $user-settings-avatar-img-size;
}