// Application Page Section Module
// ========================================

// Variables
$page-height:                  100%;
$page-overflow:                hidden;
$page-padding:                 $spacer-charlie;

$page-overflow-height:         300px;

$page-overflow-y:              scroll;
$page-padding-overflow-md:     $spacer-charlie $spacer-delta 0;
$page-padding-overflow-lg:     $spacer-charlie $spacer-charlie 0;

$page-section-height:          100%;
$page-section-margin:          105px 0 0;
$page-section-margin-alt:      217px 0 0;
$page-section-position:        relative;

$page-section-no-tabs-margin:  194px 0 0;

$page-sidebar-border:          1px solid $grey-light;
$page-sidebar-cords:           0 null 0 null;
$page-sidebar-height:          100%;
$page-sidebar-position:        absolute;
$page-sidebar-width:           25%;
$page-sidebar-width-sm:        18%;

$page-sidebar-title-margin:    $spacer-charlie;

$page-main-cords:              $page-sidebar-cords;
$page-main-width:              75%;
$page-main-position:           $page-sidebar-position;

$page-main-header-margin:      $page-sidebar-title-margin;

$page-main-title-margin-0:     0;
$page-main-title-display:      inline-block;

$page-main-header-right-float: right;



// Structure
.page {
  height: $page-height;
  overflow: $page-overflow;
}

// Page Section
.page-section {
  @include position($page-section-position);
  height: $page-section-height;
  margin: $page-section-margin;

  &.page-section--header-offset {
    margin: $page-section-margin-alt;
  }

  &.page-section--no-tabs {
    margin: $page-section-no-tabs-margin;
  }
}

.page-section__divider {
  border: none;
  border-bottom: $page-sidebar-border;
  margin: $spacer-alpha 0;
}


// Page Section Sidebar
.page-sidebar {
  @include position($page-sidebar-position, $page-sidebar-cords);
  height: $page-sidebar-height;
  overflow-y: $page-overflow-y;
  padding: $page-padding-overflow-md;
  width: $page-sidebar-width;

  &::after {
    content: " ";
    display: block;
    height: $page-overflow-height;
  }

  @include media($large) {
    padding: $page-padding-overflow-lg;
  }


  // Page Section Sidebar Position
  &.page-sidebar--left {
    border-right: $page-sidebar-border;
    left: 0;
  }

  &.page-sidebar--right {
    border-left: $page-sidebar-border;
    right: 0;
  }

  // Page Section Sidebar Modifiers
  &.page-sidebar--small {
    width: $page-sidebar-width-sm;
  }

  // Page Section Sidebar Text
  .page-sidebar__header {
    @include position(relative);
  }

  .title {
    margin-bottom: $page-sidebar-title-margin;
  }
}

.page-sidebar__header--right {
  @include position(absolute, 0 0 null null);

  #app-icon {
    fill: $grey-dark;
  }

  // Hide Search Bar
  .search-input {
    display: none;
  }

  // Show Search Bar When Header Active
  &.is-active {
    width: 100%;

    .search-input{
      @include position(absolute, -13px null null 0);
      display: block;
      width: 90%;

      input { width: 100% }
    }

    .toggle-element {
      float: right;
      vertical-align: middle;
    }
  }
}

.page-sidebar__content {

  &.page-sidebar__content--border {
    border-bottom: $page-sidebar-border;
    margin-bottom: $spacer-charlie;
    padding-bottom: $spacer-charlie;
  }
}


// Page Section Main
.page-main {
  @include position($page-main-position, $page-main-cords);
  padding: $page-padding-overflow-md;
  overflow-y: $page-overflow-y;
  width: $page-main-width;

  @include media($large) {
    padding: $page-padding-overflow-lg;
  }

  // Overflow Scroll
  &::after {
    content: " ";
    display: block;
    height: $page-overflow-height;
  }

  &.page-main--full {
    width: 100%;
  }

  &.page-main--left {
    left: 0;
  }

  &.page-main--right {
    left: 25%;
  }

  &.page-main--middle {
    left: 18%;
    right: 25%;
    width: 57%;
  }
}

.page-main__header {
  margin-bottom: $page-main-header-margin;

  .title {
    display: $page-main-title-display;
    margin: $page-main-title-margin-0;
  }

  .page-main__header--left,
  .page-main__header-right {
    display: inline-block;
  }

  .page-main__header--right {
    display: $page-main-title-display;
    float: $page-main-header-right-float;

    // Note: This may need to be refactored
      // Not a fan of how it is implemented.
    .item {
      display: inline-block;
      float: left;
      max-width: 400px;
      min-width: 200px;

      &:not(:last-child) {
        margin-right: $spacer-delta;
      }

      &:not(.button--small) {
        min-width: 0;
      }

      input,
      select {
        height: 30px;
        margin-bottom: 0;
        margin-top: 0;
        padding: $spacer-echo $spacer-delta;
      }
    }

    // Expand Button Add ons
    .button--add-on__container {
      width: 300px;
    }
  }
}

.page-main__content {
  @include clearfix;
}